@model EmployeesEvaluation.WEB.Dtos.EvaluationDto
@{
    ViewData["Title"] = "New Evaluation";
}

<link rel="import" href="~/WebComponents/evaluation-form.html" />

<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <hr />
    <evaluation-form></evaluation-form>


</div>





