<link rel="import" href="~/WebComponents/evaluation-form.html" />

<div class="location-bar">
    <h2>Evaluations / New</h2>
</div>


<div class="row panel">

    <div class="col-md-12">

        <evaluation-form></evaluation-form>


    </div>

</div>



