@model EmployeesEvaluation.WEB.Dtos.QuestionDto
@{
    ViewData["Title"] = "New Question";
}

<link rel="import" href="~/WebComponents/question-form.html" />

<h2>@ViewData["Title"]</h2>

<div class="col-md-12">
    <hr />
    <question-form></question-form>


</div>





