@model EmployeesEvaluation.WEB.Dtos.QuestionDto
@{
    ViewData["Title"] = "New Question";
}

<link rel="import" href="~/WebComponents/question-form.html" />


<div class="location-bar">
    <h2>Questions / New</h2>
</div>


<div class="row panel panel-form">

<div class="col-md-12">
  
    <question-form></question-form>


</div>
    </div>




