<configuration>
  <connectionStrings>
    <add name="aspnetEmployeesEvaluationWEB5a62e9d288664fa5b93e4b974719fcde"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-EmployeesEvaluation.WEB-5a62e9d2-8866-4fa5-b93e-4b974719fcde;Integrated Security=True"
        providerName="System.Data.SqlClient" />
        
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>